html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    script(src='/static/js/lib/lodash.min.js')

    script(src='/static/js/base64.js')
    script(src='/static/js/rtc_helper.js')
    script(src='/static/js/view.js')

    link(rel='stylesheet', href='/static/css/view.css')
  body(onload='_view.init()') ek
